/* Make menu links horizontal */
li.h_menu {display:inline;}

a:link.menu {
    text-decoration: none;
    color: red;
    background-color: black;
    transition: all 0.5s;
}

a:visited.menu {
    text-decoration: none;
    color: red;
    background-color: black;
}

a:hover.menu {
    text-decoration: none;
    color: yellow;
    background-color: aquamarine;
}

a:active.menu {
    text-decoration: none;
    color: purple;
    background-color: blanchedalmond;
}